{#{% include 'public/img/1/1.jpg' %}#}
<div class="section">
    <input type="button" style="background-color: white" onclick="openYaerOpen('{{xxx}}')" value="{{ xxx }}" >
    <input type="button" onclick="remPoz('{{xxx}}')" value="Удалить" >
    <input type="button" onclick="rename('{{xxx}}')" value="Переименовать"/>
{#    <p>{{ xx }}</p>#}
{#    <img width="300" class="imgProduct" src="img/{{ product.id_product }}/1.jpg"  alt=""><br>#}
{#    <input type="button"  name="remKorz" class="layer" onclick="remKorz({{ product.id }})" value="Убрать" >#}
</div>


